header.header: .container
	.grid
		.col-lg-1-2
			a.header__logo(href="#")
				img(src="img/logo.png" alt="logo")
		.col-lg-1-2
			.header__right
				nav.header-nav
					mixin headerNav(list)
						ul.header-nav__list
							each item, i in list
								li.header-nav__item
									if pageId === i
										a.header-nav__link.header-nav__link--active(href=item.href)= item.name
									else
										a.header-nav__link(href=item.href)= item.name
					
					+headerNav([{
							name: 'Главная',
							href: '/'
						}, {
							name: 'Каталог',
							href: '/catalog.html'
						} ,{
							name: 'Где купить',
							href: '/internal-catalog.html'
						} , {
							name: 'Назад',
							href: '/product-card.html'
						} ])

				block headerCustom
							
