//- layout.jade
doctype html
html
	block head
		include head

	body
		block variabless
		
		block mixins
			include mixins
		
		
		block header
			include header

		block content

		block footer
			include footer
		
		block js-custom
		
		block js
			script(
				src='js/index.js'
			)
