.badges {
	margin-top: 55px;
	text-align: left;
}
.badge {
	display: inline-block;
	margin: 0 25px;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	&--md {
		font-size: 20px;
	}

	&--md-6 {
		.badge__icon {
			@include sprite__badge-md-6;
		}
	}

	&--md-5 {
		.badge__icon {
			@include sprite__badge-md-5;
		}
	}

	&--md-4 {
		.badge__icon {
			@include sprite__badge-md-4;
		}
	}

	&__icon {
		@include sprite-img;

		vertical-align: middle;
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
		
		span {
			display: block;
		}
	}
}