* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	// font-size: $mq-base-font-size;
}

body {
	// background: linear-gradient(to top, #114357 0%, #784040 100%), #114357; 
	font-size: 16px;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

h1 {
	// color: #fff;
}