/* glue: 0.11.1 hash: a1a781fb06 */

@mixin sprite__logo {
  background-repeat: no-repeat;
  background-position: -2px -2px;
  width: 537px;
  height: 144px;
	background-size: 541px 216px;
}

@mixin sprite__badge-md-4 {
  background-repeat: no-repeat;
  background-position: -2px -150px;
  width: 54px;
  height: 64px;
	background-size: 541px 216px;
}

@mixin sprite__badge-md-6 {
  background-repeat: no-repeat;
  background-position: -60px -150px;
  width: 38px;
  height: 60px;
	background-size: 541px 216px;
}

@mixin sprite__badge-md-5 {
  background-repeat: no-repeat;
  background-position: -102px -150px;
  width: 38px;
  height: 60px;
	background-size: 541px 216px;
}

@mixin sprite__bracket-right {
  background-repeat: no-repeat;
  background-position: -144px -150px;
  width: 14px;
  height: 37px;
	background-size: 541px 216px;
}

@mixin sprite__bracket-left {
  background-repeat: no-repeat;
  background-position: -162px -150px;
  width: 14px;
  height: 37px;
	background-size: 541px 216px;
}
