$pad: 0; //15px
$lg: 1120px;
$md: 991px;
$sm: 768px;
$xs: 480px;

$lg-container: 1090px;

.container {
	@include clearfix();

	margin-right: auto;
	margin-left: auto;

	@media (max-width: $lg) {
		padding: 0 15px;
	}
}

@media (min-width: $lg) {
	.container {
		width: $lg-container;
	}
}

.grid {
	@include clearfix();

	// margin: 0 0 $pad 0;
	margin: 0;
}

[class*='col-'] {
	position: relative;
	float: left;
	width: 100%;
	padding-right: $pad;

	.grid &:last-of-type {
		padding-right: 0;
	}
}

@media (min-width: $xs) {
	.col-xs-1-2 {
		width: 50%;
	}

	.col-xs-1-3 {
		width: 33.3333333%;
	}
}

@media (min-width: $sm) {
	.col-sm-1-2 {
		width: 50%;
	}

	.col-sm-1-3 {
		width: 33.3333333%;
	}

	.col-sm-1-4 {
		width: 25%;
	}
}

@media (min-width: $md) {
	.col-md-2-3 {
		width: 66.666666%;
	}

	.col-md-1-3 {
		width: 33.3333333%;
	}

	.col-md-1-2 {
		width: 50%;
	}

	.col-md-1-2-push {
		left: 50%;
	}

	.col-md-1-2-pull {
		right: 50%;
	}

	.col-md-1-4 {
		width: 25%;
	}

	.col-md-1-5 {
		width: 20%;
	}

	.col-md-3-4 {
		width: 75%;
	}

	.col-md-1-8 {
		width: 12.5%;
	}
}

@media (min-width: $lg) {
	.col-lg-2-3 {
		width: 66.666666%;
	}

	.col-lg-1-3 {
		width: 33.3333333%;
	}

	.col-lg-1-2 {
		width: 50%;
	}

	.col-lg-1-2-push {
		left: 50%;
	}

	.col-lg-1-2-pull {
		right: 50%;
	}

	.col-lg-1-4 {
		width: 25%;
	}

	.col-lg-3-4 {
		width: 75%;
	}

	.col-lg-1-8 {
		width: 12.5%;
	}
}

/* Opt-in outside padding */
.grid-pad {
	padding: $pad 0 $pad $pad;

	[class*='col-']:last-of-type {
		padding-right: $pad;
	}
}
