[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.header {
  position: relative;
  margin-bottom: 50px;
}

.header-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  //text-align: center;
}

.header-img {
  display: inline-block;
  vertical-align: middle;
}

.header-table {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: inline-block;
  width: auto;
  margin-right: 20px;

  tr {
    width: 100%;
  }
}

.content {
  margin-bottom: 30px;
}

.top-line {
  margin-bottom: 30px;
}

.instagram-item {
  text-decoration: none !important;
}

.img-item {
  margin-bottom: 20px;
}

.info {
  margin-top: 10px;
  padding-right: 10px;
  text-align: right;
}

.likes {
  color: #d9534f;
}

.comments {
  color: #f0ad4e;
}

.modal-body {
  padding: 0;
}

.modal-sidebar {
  padding: 20px 0;
}

.modal-img {

  border-right: 1px solid #e5e5e5;
}

.grey-lighter {
  color: #777;
}

.modal-arrow-left,
.modal-arrow-right {
  position: absolute;
  z-index: 100;
  top: 50%;
  padding: 5px;
  cursor: pointer;
  transform: translateY(-50%);
  color: #fff;
  font-size: 48px;
}

.modal-arrow-left {
  left: -60px;
}

.modal-arrow-right {
  right: -60px;
}