.header {
  position: relative;
  margin-bottom: 50px;
}

.header-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  //text-align: center;
}

.header-img {
  display: inline-block;
  vertical-align: middle;
}

.header-table {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: inline-block;
  width: auto;
  margin-right: 20px;

  tr {
    width: 100%;
  }
}

.content {
  margin-bottom: 30px;
}

.top-line {
  margin-bottom: 30px;
}

.instagram-item {
  text-decoration: none !important;
}

.img-item {
  margin-bottom: 20px;
}

.info {
  margin-top: 10px;
  padding-right: 10px;
  text-align: right;
}

.likes {
  color: #d9534f;
}

.comments {
  color: #f0ad4e;
}

.modal-body {
  padding: 0;
}

.modal-sidebar {
  padding: 20px 0;
}

.grey-lighter {
  color: #777;
}
