extends base/layout

block variabless
	- var pageId = 1;

block headerCustom
	.badges

		+monthsBadges({
			class: 'badge--md badge--md-4',
			href: '#',
			monthText: 'с 4-х'
		})

		+monthsBadges({
			class: 'badge--md badge--md-5',
			href: '#',
			monthText: 'с 5'
		})

		+monthsBadges({
			class: 'badge--md badge--md-6',
			href: '#',
			monthText: 'с 6'
		})


block content
	main.catalog
		.container
			.grid
				.col-md-1-2
					.catalog__item
						.catalog__img-wrap
							a.catalog__img(href="#")
								img(src="img/product-md-1.png" alt="product-md-1")
						.catalog__descr Смузи из фруктов<br> и ягод

				.col-md-1-2
					.catalog__item
						.catalog__img-wrap
							a.catalog__img(href="#")
								img(src="img/product-md-2.png" alt="product-md-2")
						.catalog__descr Пюре для <br> детей 
