extends base/layout

block variabless
	- var pageId = 1;

block headerCustom
	+breadcrumbs('breadcrumbs--header',[{
			href: '#',
			text: 'Главная'
		},{
			href: '#',
			text: 'Каталог'
		},{
			href: '#',
			text: 'Микс из фруктов и ягод '
		}
	])


block content
	.catalog
		.container
			.grid
				.col-md-1-4
					.catalog__item.catalog__item--small
						a.catalog__img(href="#")
							img(src="img/products-sm-1.png" alt="products-sm-1")
						.catalog__descr Груша-яблоко
				
				.col-md-1-4
					.catalog__item.catalog__item--small
						a.catalog__img(href="#")
							img(src="img/products-sm-2.png" alt="products-sm-2")
						.catalog__descr яблоко-клубника
				
				.col-md-1-4
					.catalog__item.catalog__item--small
						a.catalog__img(href="#")
							img(src="img/products-sm-3.png" alt="products-sm-3")
						.catalog__descr яблоко-персик
				
				.col-md-1-4
					.catalog__item.catalog__item--small
						a.catalog__img(href="#")
							img(src="img/products-sm-4.png" alt="products-sm-4")
						.catalog__descr яблоко
				
				.col-md-1-4
					.catalog__item.catalog__item--small
						a.catalog__img(href="#")
							img(src="img/products-sm-5.png" alt="products-sm-5")
						.catalog__descr Яблоко-ягоды
